.extra-content{
	margin-top: 100px;
}

.extra-content-photo{
	position: relative;
	background-image: url("../images/phone.png");
	width: 353px;
	min-height: 500px;
	max-width: 100%;
	float: right;
}
.extra-content-photo1{
	position: relative;
	background-image: url("../images/phone.png");
	width: 353px;
	min-height: 500px;
	max-width: 100%;
	float: left;
}

.adjustments-last{
	margin-top: 40px;
}
.adjustments-last1{
	margin-top: 20px;
}
@media screen and (max-width: 1100pxpx) and (min-width: 120px) {

	.extra-content-photo{
		position: relative;
		background-image: url("../images/phone.png");
		width: 353px;
		min-height: 500px;
		max-width: 100%;
		margin-right: auto;
		margin-left: auto
	}
	.extra-content-photo1{
		position: relative;
		background-image: url("../images/phone.png");
		width: 353px;
		min-height: 500px;
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;
	}

}

.play-app-branding{
	position: relative;
	margin-top: 80px;

}

.best-in{
	position: relative;
	text-align: center;
	margin-top: 40px;
}

.best-in-images{
	margin: 20px;
	width: 130px;
	height: 90px;
}
.grey-bg{
	background-color: #f7f7f7;
}
.best-in-heading{
	margin-top: 50px;
	color: #369af8;
	text-align: center;
	font-weight: 350;
}
.best-in-sub{
	color: #369af8;
}

.cont-head-align{
	text-align: center;
	font-size: 22px;
}
.cont-head-align2{
	margin-top: 25px;
justify-content: center;
margin-bottom: 50px;
}