.featured-in{
	position: relative;
	
}

.featured-in-heading{
	position: relative;
	text-align: center;
	color: #369af8;
	font-weight: 350; 
	margin-top: 50px;

}
.featred-small-line{
	margin-top: -2px;
	border: 1px solid #369af8;
	width: 4%;
}

.featured-in-background{
	background-color: #F8F8F8;
	height: auto;
}
.brand-featured-in{
	position: relative;
	padding: 100px 50px;
}