.footer{
	position: relative;
	bottom: 0;
	text-align: center;
}
.dgrey-bd{
	background-color: #5c5c5c;
}

.footer-links{
	text-decoration: none;
	color: #fff;
	list-style-type: none;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 10px;
}

.footer-list{
	list-style-type: none;
}