.main-content{
	position: relative;
	margin-top: 80px;
}
.app-on-phone{
	position: relative;
	background-image: url("../images/smartphone.png");
	width: 353px;
	min-height: 500px;
	background-size: cover;
	float: left; 
	max-width: 100%;
}
.top-heading-name{
	margin-top: 80px;
	position: relative;
	text-align: left;
	color: #369af8;
	font-weight: 200;

}
.top-para{
	margin-top: 20px;
	position: relative;
	text-align: left;
	color: #767A7E;
}

.icons-play-app{
	position: relative;
	float: none;
	margin-top: 40px;
}
.get-on-play{

	width: 165px;
	height: 52px;
	margin-left: 2px;

}
.get-on-app{
	width: 160px;
	height: 50px;
	float: left;
	margin-left: 25px;

}