.top-nav-bar{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	content-align: center;
	margin-top: 10px;
}
.logo-on-top{
	position: relative;
	background-image: url("../images/logo-open.png");
	width: 160px;
	min-height: 50px;
	float: left;
}
.top-nav-links{
	position: relative;
	margin: 10px 20px;
	color: #CACACA;
	float: right;
	font-size: 18px;
	border-bottom: 1px solid #CACACA;
}
.top-nav-links:hover{
	text-decoration: none;
	position: relative;
	margin: 10px 20px;
	color: #369af8;
	float: right;
	font-size: 18px;
	border-bottom: 1px solid #369af8;
}